#navbar-mobile {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 940px) {
  #navbar-animmenu * {
    display: none;
  }
  #navbar-mobile {
    display: flex;
  }
}

@media screen and (min-width: 941px) {
  #navbar-animmenu {
    display: flex;
  }
  #navbar-mobile {
    display: none;
  }
}

.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}

.navbar-logo {
  width: 50%;
}

#navbar-animmenu {
  display: flex;
  justify-content: flex-end;
  background: transparent;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  width: 100%;
  height: 64px;
}

#navbar-animmenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 100%;
}

#navbar-animmenu li {
  list-style-type: none;
  height: 100%;
}

#navbar-animmenu li .avatarDropdown {
  padding: 6px;
  width: 26px;
  margin-right: 20px;
}

#navbar-animmenu li a:hover {
  color: #fff;
}

#navbar-animmenu ul li a svg {
  font-size: 26px;
}

#navbar-animmenu li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 0px 10px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  position: relative;
  height: 100%;
}

#navbar-animmenu > ul > li.active > a {
  color: #fff;
  background-color: transparent;
  transition: all 0.2s;
}

#navbar-animmenu .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.drawer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.drawer-item:hover {
  background-color: #f0f0f0;
}

.drawer-item.active {
  background-color: #e6e6e6;
  color: #004085;
}
