.time-slot {
  transition: background-color 0.3s, color 0.3s;
}

.time-slot:hover {
  background-color: #f0f0f0;
  color: #1890ff;
}

.time-slot.selected {
  background-color: olivedrab;
  color: white;
}

.time-slot.end-selected {
  background-color: indianred;
  color: white;
}

.ant-message {
  z-index: 2200 !important;
}

.time-btn {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.88);
  background-color: #f0f0f080;
  padding: 8px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;
  font-size: 12px;
}

.time-btn.time-gray {
  color: #808080;
}

.time-btn:hover {
  background-color: #f0f0f080;
  background-color: #f0f0f0;
}

.toggle-time-btn {
  color: #808080;
  border: 1px dashed #80808098;
  cursor: pointer;
  padding: 2px 2px;
  width: 50%;
}

.toggle-time-btn.active {
  color: #fff;
  background-color: #5161ce;
  cursor: pointer;
  transition: all 0.2s ease;
}

.time-start {
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.time-end {
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.grid-btn {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
