.time-slot {
  transition: background-color 0.3s, color 0.3s;
}

.time-slot:hover {
  background-color: #f0f0f0;
  color: #1890ff;
}

.time-slot.selected {
  background-color: #1890ff;
  color: white;
  border-radius: 4px;
}

.ant-message {
  z-index: 2200 !important;
}

.time-btn {
  cursor: pointer;
  color: #5161ce;
  background-color: #f0f0f080;
  padding: 4px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.time-btn:hover {
  background-color: #f0f0f080;
  background-color: #f0f0f0;
}
