.card-margin {
  margin-bottom: 20px;
}

.box-background {
  background-color: #f1f8ff;
  padding: 0.5rem;
}

.button-spacing {
  margin-right: 1px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  padding: 0.5px;
  padding-left: 1px;
  padding-right: 1px;
}

.button-outline {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  padding: 0.5px;
  padding-left: 1px;
  padding-right: 1px;
}

.button-additional-details {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  padding: 0.5px;
  padding-left: 1px;
  padding-right: 1px;
  color: gray;
  border-color: gray;
}

.button-additional-details:hover {
  background-color: #ececec;
  border-color: gray;
}

.details-box {
  display: block;
  margin-inline: 2;
}

.details-box-hidden {
  display: none;
  margin-inline: 2;
}

.float-right {
  float: right;
}

.span-margin {
  margin-right: 12px;
}

/* Add this CSS rule to control the visibility of the button */
.details-button {
  display: none; /* Initially hide the button */
}

/* Show the button when the parent container (the grid) is being hovered */
.Card:hover .details-button {
  display: block;
}

.basic-btn {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin-right: 8px;
  border: 1px solid transparent;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 6px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  background-image: none;
}

.purple-outline {
  color: rgba(0, 0, 0, 0.88);
  border-color: #6c7ce7;
}

.gray-outline {
  color: rgba(0, 0, 0, 0.88);
  border-color: rgb(229, 231, 235);
}

.gray-outline:hover {
  color: #5161ce;
  border-color: #6c7ce7;
}

.purple-full {
  background-color: #5161ce;
}

.purple-light-full {
  background-color: #6576e8;
}

.purple-light-full:hover {
  background-color: #5161ce;
}

.purple-full:hover {
  background-color: #5d6fe6;
}

.purple-full-dark {
  background-color: #221c69;
}

.purple-full-dark:hover {
  background-color: #080942;
}
