/* ------ NEW STYLES --------- */
:root {
  --white-color: #fff;
  --calendar-chevron-hover-color: #b6cfe7;
  --calendar-header-footer-color: #5161ce;
  --calendar-cell-font-size: 16px;
  --mobile-calendar-cell-font-size: 14px;
  --badge-height: 12px;
  --badge-padding: 4px 3px;
  --badge-border-radius: 50%;
  --badge-line-height: 22px;
}

.calendar-chevron {
  color: var(--white-color);
  transition: color 0.3s;
  font-size: 20px;
  background-color: #6072e5 !important;
}

.calendar-chevron:hover {
  color: #fff !important;
  background-color: #6072e570 !important;
}

#calendar-container {
  margin-top: 20px;
}

.calendar-head {
  display: flex;
  align-items: center;
  background-color: var(--calendar-header-footer-color);
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.calendar-head > * {
  margin: 0 10px;
}

#calendar-container {
  margin-top: 20px;
}

#calendar-header,
#calendar-body {
  width: 100%;
  align-items: center;
}

#calendar-body {
  min-width: 420px;
  border-radius: 0;
}

#current-month-year {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#calendar-body th,
#calendar-body tr,
#calendar-body td {
  text-align: center;
}

#calendar-body th {
  border-radius: 0;
  padding: 12px 0;
}

#calendar-body td {
  position: relative;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

#calendar-cell .ant-typography {
  font-size: var(--calendar-cell-font-size);
}

#prev-month,
#next-month {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: var(--white-color);
}

#prev-month:hover,
#next-month:hover,
.event-link {
  color: var(--calendar-header-footer-color);
  text-decoration: underline;
}

.event-link {
  font-weight: 600;
}

.events-container {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.event-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 2px;
}

sup.ant-scroll-number.ant-badge-count {
  height: 13px !important;
  padding: 7.5px 5.5px !important;
  border-radius: var(--badge-border-radius);
  left: 16px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 13px !important;
  line-height: 23px !important;
  background-color: var(--calendar-header-footer-color);
  bottom: 6px;
}

.calendar-badge {
  bottom: 15px;
}

.custom-flex {
  display: flex;
  flex-wrap: wrap;
}

.order-calendar {
  order: 1;
}

.order-list {
  order: 0;
}

div#calendar-cell {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.today-button {
  padding: 0;
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.today-button .today-text {
  font-family: Fira Code;
  visibility: visible;
  position: absolute;
  left: 0;
  background-color: #fff;
  padding: 2.5px 5px;
  border-radius: 6px;
  color: #5161ce;
}

.today-button .today-text:hover {
  background-color: rgb(230, 230, 230);
}

.today-button .today-icon {
  position: absolute;
  visibility: hidden;
  display: none;
  left: 5px;
  color: #000;
}

.today-button .today-icon:hover {
  background-color: rgb(230, 230, 230);
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 990px) {
  .order-calendar,
  .order-list,
  .calendar-col,
  .article-list-col {
    order: 0;
    padding-inline: 1.5rem;
    margin-bottom: 35px;
  }

  .order-list {
    order: 1;
  }

  #calendar-body td {
    height: 50px;
    padding: 7px;
  }

  #calendar-cell .ant-typography {
    font-size: 15px;
  }

  sup.ant-scroll-number.ant-badge-count {
    height: 13px !important;
    padding: 4.5px 4.3px !important;
    border-radius: var(--badge-border-radius);
    left: 15.5px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-width: 13px !important;
    line-height: 23px !important;
  }

  .calendar-badge {
    bottom: 14px;
  }

  .purpose-badge p {
    font-size: 12px;
  }

  .mb-5 {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .today-button {
    padding: 5px 15px;
    height: 24px;
  }

  .today-button .today-text,
  .today-button .today-icon {
    visibility: hidden;
    display: none;
  }

  .today-button .today-icon {
    visibility: visible;
    display: block;
  }

  .order-calendar,
  .order-list,
  .custom-flex > .ant-col,
  .calendar-col,
  .article-list-col {
    order: 0;
    width: 100%;
    max-width: 100%;
    padding-inline: 1rem;
    margin-bottom: 40px;
  }

  .order-list {
    order: 1;
  }

  #calendar-header {
    flex-direction: column;
  }

  #calendar-body {
    min-width: auto;
    width: 100%;
  }

  #calendar-body th,
  #calendar-body td {
    padding: 5px;
  }

  #current-month-year {
    font-size: 16px;
    margin: 5px 0;
  }

  #calendar-body td {
    height: 40px;
    width: 14%;
  }

  #calendar-cell .ant-typography {
    font-size: var(--mobile-calendar-cell-font-size);
  }

  sup.ant-scroll-number.ant-badge-count {
    height: var(--badge-height) !important;
    padding: var(--badge-padding) !important;
    border-radius: var(--badge-border-radius) !important;
    left: 15px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-width: var(--badge-height) !important;
    line-height: var(--badge-line-height) !important;
  }

  .calendar-badge {
    bottom: 14px;
  }

  .purpose-badge p {
    font-size: 11px;
  }

  .mb-5 {
    margin-bottom: 8px;
  }
}

@media (max-width: 600px) {
  .today-button {
    padding: 5px;
    font-size: 14px;
  }

  .today-button .today-text {
    visibility: hidden;
    display: none;
  }

  .today-button .today-icon {
    visibility: visible;
    display: block;
  }

  .calendar-head {
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .today-button .today-text {
    visibility: hidden;
    display: none;
  }

  .today-button .today-icon {
    visibility: visible;
    display: block;
  }

  #calendar-body td {
    height: 39px;
  }

  #calendar-cell .ant-typography {
    font-size: 13px;
  }

  sup.ant-scroll-number.ant-badge-count {
    top: 6px;
    left: 13px;
  }
}
